<div class="content">

	<h1 titulo2>Quem sou</h1>
	<p>Bem, me chamo Joselino. Sou tecnólogo em Redes de computadores e tenho intensa paixão por tecnologia. 
	Trabalho com Software livre e educação há 10 anos. Já participei de projetos como CRC(Centro de Recondicionamento de Computadores) onde era realizada a capacitação de jovens em cursos de tecnologia e outros. Além de ter trabalhado com infraestrutura de Redes, sempre fui apaixonado por programação, isso foi excelente, pois consegui unir o melhor dos dois mundos. Logo enxerguei as possibilidades como na automação residencial, Internet das coisas e outras tecnologias novas com baixíssimo custo. Meu objetivo é simplificar e compartilhar o que aprendi ao longos dos anos. </p>

</div>
